@import url('../../Style/Main.css');


.question-wrapper {
    padding: 10px 15px;
    border-radius: var(--border-radius-2);
}

.question-wrapper:hover {
    border: 1px solid var(--color-9);
    cursor: pointer;
}

.borderActive {
    border: 1px solid var(--color-9);
}