@import url(../../Style/Main.css);

.form-signup {
    position: relative;
    text-align: center;
    margin: 20% auto 0 auto;
    margin-top: 5%;
}

.input-signup-wrapper {
    border-bottom: 2px solid #80c8e7;
    margin-top: 10%;
}

.input-signin {
    font-size: var(--fontsize-text1);
}

.signUp {
    padding: 7%;
}

.setin {
    cursor: pointer;
}