@import url('../../Style/Main.css');


.question-wrapper {
    padding: 10px 15px;
    border-radius: 5px;
    margin: 2% 0;
}

.option-item-form:hover {
    border: 1px solid var(--color-9);
    cursor: pointer;
    z-index: 9999;
}

.borderActive {
    border: 1px solid var(--color-9);
}

.qusetion-form,
.lable-option {
    color: var(--color-9);
    font-size: var(--fontsize-text1);
}

.qusetion-form {
    font-size: var(--fontsize-text1);
}

.option-wrapper {
    margin: 2% 0;
}

.multiyop {
    margin-left: 2%;
}

.input-answer {
    border: 1px solid var(--color-9);
    border-radius: var(--border-radius-2);
    padding: 0 10px;
    margin-left: 2%;
    height: 30px;
}

.lableAnswer {
    font-size: var(--fontsize-text1);
}

.textarea-option {
    border: 1px solid var(--color-9);
    border-radius: var(--border-radius-2);
    padding: 0 10px;
    margin-left: 2%;
}

.dropDwon-option {
    border-radius: var(--border-radius-2);
    outline: none;
    border: 1px solid var(--color-9);
    width: 250px;
    max-width: 250px;
    padding: 10px;
}

.date-option {
    font-size: var(--fontsize-text1);
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    border: 1px solid var(--color-9) !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-width: 0 !important;
}

.file-form {
    display: block !important;
}

@media (max-width:576px) {
    .option-wrapper {
        margin: 4% 0;
    }
}