@import url(../../Style/Main.css);

.button-component {
    padding: 4% 0;
}

.button-component:hover {
    transition: all .5s;
    background-color: var(--color-7);
}

.btn-component:hover {

    cursor: not-allowed;
}

@media (max-width:576px) {
    .button-component {
        padding: 6% 0;
    }
}