@import url('../../Style/Main.css');

.ConditionFormBox-container {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid lightgray;
}

.ConditionFormBox-left {
    width: 50%;
}

.ConditionFormBox-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;
}

.ConditionFormBox-permit {
    color: #9a9a9a;
}

.viewmore {
    color: var(--color-9);
    cursor: pointer;
    border-bottom: 1px solid var(--color-9);
    font-weight: bold;
}

.ConditionFormBox-dec {
    font-size: .8rem;
    line-height: 1.5rem;
}



.condition-request-text {
    color: #9a9a9a;
}

.condition-request-done,
.condition-request-reject,
.condition-request-pending {
    border-radius: 50%;
    margin-left: 5px;
    text-align: center;
    vertical-align: middle;
}

.condition-request-done {
    color: var(--color-9);
}

.condition-request-reject {
    color: var(--color-8);
}

.condition-request-pending {
    color: orange;
}

.ConditionFormBox-container-small {
    padding: 2%;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2% 0;
}


.icon-condition {
    font-size: 25px !important;

}

@media (max-width:817px) {
    .ConditionFormBox-left {
        width: 100%;
    }

    .viewmore {
        border: none;
    }
}