@import url('../../Style/Main.css');


.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    width: 100%;

}

.input-form {
    all: unset;
    border: 1px solid var(--color-9);
    height: 45px;
    border-radius: var(--border-radius-1);
    padding: 0 10px;
    font-size: var(--fontsize-3);
}



.input-title {
    color: var(--color-6);
    margin-bottom: 5px;
    font-size: var(--fontsize-3);
}

::-webkit-input-placeholder {
    color: rgb(189, 181, 181);
    font-size: 13px;
}