@import url('../../../Style/Main.css');

.chartProgress-content {
    text-align: center;
}

.CircularProgressbar-path {
    stroke: linear-gradient(281deg, rgba(110, 109, 247, 1) 35%, rgba(161, 88, 247, 1) 99%);
}

.progress-title {
    margin-bottom: 10px;
}

@media (max-width:768px) {
    .chartProgress-content {
        margin-bottom: 10px;
    }


}