@import url('../../Style/Main.css');


.view-btn:hover {
    transition: all .5s;
    background-color: var(--color-7);
}

.formWorker-container {
    padding: 2%;
    width: 100%;
}

.formWorker-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view-btn {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: var(--border-radius-1);
    background-color: var(--color-9);
    color: #ffffff;
    width: max-content;

}

.formWorker {
    border-radius: var(--border-radius-1);
    border: 1px solid var(--color-9);
    max-height: 70vh;
    overflow-y: scroll;
}

.send-worker {
    width: 130px;
}

.button-fill-form-wrapper {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.upload-file {
    margin-left: 20px;
    cursor: pointer;
    color: var(--color-9);
}

.image-file {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 1px 4px 0px #D9D9D9;
}

@media (max-width:992px) {}