@import url('../../Style/Main.css');

.audiance-container {
    width: 25%;
    position: fixed;
    bottom: 0;
    top: 0;
    right: -100%;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    overflow-y: scroll;
    transition: all .5s;
    z-index: 9999;
    background-color: #ffff;
}

.audiance-container-header {
    padding-left: 10px;
    padding-top: 10px;
}

.audiance-item {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #f3f5f9;
    margin: 3% 0;
    cursor: pointer;
}

.audiance-img-container {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.audiance-img {
    width: 100%;
    height: 100%;
}

.audiance-text {
    margin-left: 10px;
}

.activeAudiance {
    right: 0;
    transition: all .5s;
}

@media (max-width:992px) {
    .audiance-container {
        width: 40%;
    }
}