@import url(../../Style/Main.css);

.headerContainer {
    position: sticky;
}

.header-wrapper {
    padding: 2% 0 0 2%;
    align-items: start;

}

.logoHeader_wrapper {
    margin: 0 auto;
}

@media (max-width:576px) {
    .logoHeader_wrapper>img {
        margin-right: 20px;
    }
}