@import url('../Style/Main.css');

.home-container {
    width: 100%;
}

.recentForm-conteiner {
    padding: 1% 2%;
    width: 100%;
    /* border-bottom: 1px solid rgb(154, 146, 146); */
}



.allFormText,
.defaultFormText {
    color: rgb(154, 146, 146);
}

.defaultFormText {
    margin-left: 2%;
}

.linkAll-form {
    all: unset;
    cursor: pointer;
}



.grid-form-recentItem {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 5px 0 10px 0;
    width: 95%;
    border-bottom: 1px solid lightgray
}

.item-recent {
    min-height: 150px;
    max-height: 150px;
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;

}

.deleteFormIcon {
    color: var(--color-8);
    font-size: 1.8rem !important;
}

.col-container {
    overflow-y: scroll;
    height: 100%;
    position: relative;

}