@import url('../Style/Main.css');

.recentForm-conteiner {
    padding: 1% 2%;
    width: 100%;
    /* border-bottom: 1px solid rgb(154, 146, 146); */
}

.allFormText {
    color: rgb(154, 146, 146);
}

.linkAll-form {
    all: unset;
    cursor: pointer;
}

.recentForm {
    border-bottom: 1px solid lightgray;
    padding-bottom: 3%;
}

.item-recent {
    min-height: 150px;
}