@import url('../Style/Main.css');

.home-container {
    width: 100%;
}

.recentForm-conteiner {
    padding: 1% 2%;
    width: 100%;
}

.allFormText,

.linkAll-form {
    all: unset;
    cursor: pointer;
    color: #979797;
}

.grid-form-recentItem {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 5px 0 10px 0;
    border-bottom: 1px solid lightgray
}

.grid-form {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 5px 0 10px 0;
    width: 100%;
}

.item-recent {
    min-height: 150px;
    max-height: 150px;
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: var(--border-radius-2);
}


.col-container {
    overflow-y: scroll;
    height: 100%;
    position: relative;

}

.actions-form {
    position: absolute;
    right: 0;
    opacity: 0;
    visibility: hidden;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    transition: all .5s;

}


.item-recent:hover .actions-form {
    opacity: 1;
    visibility: visible;
    right: 2%
}


.deleteFormIcon {
    color: var(--color-8);
    font-size: 1.8rem !important;
    z-index: 99
}

.editFormIcom {
    color: #2fcd96;
    font-size: 1.5rem !important;
    margin-bottom: 5px;
    z-index: 99
}

.noform {
    color: #9a9a9a;
    border: 1px solid lightgray;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

.bluedot {
    background-color: var(--color-6);
}

.greendot {
    background-color: #2fcd96;
}

.redDot {
    background-color: var(--color-8);
}

.orangeDot {
    background-color: #ffa500;
}

.oliveForm {
    background-color: olivedrab;
}

.topHome-worker {
    min-height: 33vh;
    overflow-y: scroll;
}

.bottomHome-worker {
    min-height: 33vh;
    overflow-y: scroll;
}

.bottomHome {
    display: flex;
    padding: 0 2%;
    flex-wrap: wrap;
    align-items: stretch;
}

.form-section {
    margin-bottom: 30px;
}

.link-form-section {
    text-decoration: none;
    color: var(--color-9);
    font-size: .8rem;
}

.form-sections {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.form-section-title {
    margin-bottom: 15px;
    font-weight: bold;
}

.formhome-worker {
    width: 95%;
    margin: 20px auto;
}





@media (min-width:1200px) {
    .notif-ordinary-wrapper {
        margin-top: 41.53px;
        height: 100%;
    }

    .heightnotif {
        height: 100%;
    }
}

@media (max-width:1200px) {
    .notif-ordinary-wrapper {
        height: 30vh;
        overflow-y: scroll;
        margin-bottom: 10px;
    }
}

@media (max-width:1024px) {
    .wrap-ordinaryhome {
        flex-direction: column-reverse;
    }
}

@media (min-width:992px) {
    .styleHeight {
        overflow-y: scroll;
    }

    .form-sections {
        width: 100%;
    }
}

@media (max-width:992px) {
    .grid-form-recentItem {
        width: 95%;
    }


}

@media (max-width:576px) {
    .BoxForm-top {
        margin-top: 3%;
    }

    .notif-ordinary-wrapper {
        height: 50vh;
    }
}