@import url('./Main.css');

.permitForm-container {
    max-height: 95vh;
    overflow-y: scroll;
}

.padding-style {
    padding: 3%;
}

.permitForm-page {
    width: 100%;
}

.empty_form {
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 500px;
    background-image: url("../../src/Images/fomImg.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width:992px) {
    .empty_form {
        left: 50%;
        width: 90%;
        height: 30vh;
    }

}