@import url('./Main.css');


.reportContainer {
    padding: 15px 20px;
}

.reportTitle {
    color: #979797;
    font-size: .9rem;
}

.charts-content {
    margin-top: 25px;
}

.charts-top {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
}

.text-chart-top {
    font-weight: bold;
}

.chart-left {
    border-right: 1px solid lightgray;
}

.chart-section-wrappeer {
    margin-top: 60px;
}

.chart-bottom {
    border-top: 1px solid lightgray;
}

.accident-notif-title {
    margin: 20px 0;
}

.MuiPaper-root {
    margin-bottom: 20px;
    box-shadow: var(--boxShadow-1) !important;
    border: none !important;
    border-radius: 3px;
}

.noti-report-wrapper {
    border-top: 1px solid lightgray;
}

.accrdion-weapper {
    max-height: 400px;
    overflow-y: scroll;
}

.accordion-button {
    display: flex !important;
    justify-content: space-between !important;
}


@media (max-width:1221px) {

    .chart-bottom {
        margin-top: 15px;
    }
}

@media (max-width:992px) {
    .reportTitle {
        width: 100%;
    }

    .chart-bottom {
        margin-top: 40px;
    }

    .chart-left {
        border-right: none;
    }

    .chart-right {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
}