@import url('../../Style/Main.css');


.swal-title {
    font-size: 1.2rem;
}

.sideBar-img-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5%;
}

.sideBar-userInfo-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 15%;
}

.sideBar-imgUser-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid lightgray;
}

.sideBar-imgUser {
    width: 100%;
    height: 100%;
}


.sideBar-user-text,
.sideBar-user-job {
    font-size: 13px;
    display: block;
}

.sideBar-user-job {
    font-weight: bold;
    margin-top: 5%;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.sideBar-notif-wrapper {
    position: relative;
}

.notif-number {
    position: absolute;
    background-color: #2fcd96;
    top: -7px;
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;

}

.showEditModal-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.181);
    z-index: 99999999999999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.showEditModal-container-active {
    opacity: 1;
    visibility: visible;
}

.closeform {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0;
    min-height: 100vh;
    width: 100%;
    z-index: 99999;
}

.editModal {
    background-color: #ffff;
    border-radius: 5px;
    padding: 12px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius-2);
    z-index: 999999;
}

.title-prof {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}

.editUserInfo {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.img-profile-wrapper {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid lightgray;
}

.img-profile {
    width: 100%;
    height: 100%;
}

.lable-img-p {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.img-info {
    display: none;
}

.img-profile {}

.prof-job-position {
    margin-top: 1.2rem;
    font-weight: bold;
}

.inputs-prof-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 1.5rem;
    justify-content: center;
}

.input-wrapper-prof {
    display: flex;
    border-bottom: 1px solid lightgray;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7px;
    padding-left: 5px;
    width: 35%;
}

.input-prof {
    border: none;
    outline: none;
    width: 90%;
    font-size: .9rem;
}

.notif-number {
    font-size: .8rem;
    line-height: -3px;
}

.btns-actions {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn-prof {
    width: 110px;
    padding: 5px 0;
    border-radius: 5px;
}

.save-pro {
    border: none;
    outline: none;
    background-color: var(--color-9);
    color: #fff;
}

.save-pro:hover {
    transition: all .5s;
    background-color: var(--color-7);
}


.cansle-pro {
    outline: none;
    border: 1px solid lightgray;
    background-color: transparent;
    color: rgb(194, 192, 192);
}

@media (max-width:992px) {
    .sidebarContainer {
        display: none;
    }
}

@media (max-width:576px) {
    .editModal {
        width: 95%;
    }

    .inputs-prof-wrapper {
        flex-direction: column;
        width: 95%;
    }


    .input-wrapper-prof {
        width: 100%;
    }

    .btns-actions {
        flex-direction: column;
        width: 100%;
    }

    .btn-prof {
        width: 100%;
    }
}