* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.modal-accident-Wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.181);
  z-index: 99999999999999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}

.modal-accident-Wrapper-active {
  opacity: 1;
  visibility: visible;
}

.modal-accident {
  width: 45%;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius-2);
  padding-bottom: 35px;
}



.title-wraning {
  text-align: center;
  margin-bottom: 25px;
}

.safe {
  color: #64bbe5;
}

.warning {
  color: orange;
}

.danger {
  color: #CC3366;
}

.text-warnings {
  font-size: .9rem;
  text-align: left;
  width: 90%;
  margin: 0 auto;
}


.alert-accident {
  background: linear-gradient(90.15deg, rgba(227, 40, 40, 0.76) 0%, #DC2C2C 100%);
  border: none !important;
  border-radius: 0 0 10px 10px !important;
  color: #ffffff !important;
  min-height: 50px;
}

.content-alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #fff;
}

.alert-text {
  font-size: .8rem;
  width: 100%;
  text-align: center;
}

.noAccident {
  background: linear-gradient(360deg, #89CCE5 59%, #6EC1E4 84%);
  min-height: 50px;
  position: relative;
  border: none !important;
}

.warningAccident {
  background: rgb(252, 176, 69);
  background: linear-gradient(90.15deg, rgba(255, 136, 69, 0.76) 0%, #FF8845 100%);
  min-height: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none !important;
}

.chevorn {
  clip-path: polygon(54% 0, 100% 48%, 50% 100%, 0 100%, 36% 48%, 0 0);
  width: 150px;
  background: linear-gradient(to left, #D0F2FF 0%, #C5ECFB 100%);
  height: 100%;
  position: absolute;
  left: 70px;
}

.Verifiedwrapper {
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
  margin-right: 30px;
}

.span-warning {
  background: linear-gradient(135deg, #FF8845 0%, #DB5910 100%);
  border-radius: 50%;
  padding: 5px;
}

.warning-icon-wrapper {
  border-radius: 50%;
  padding: 7px;
  background: linear-gradient(135deg, #E32828 0%, #AB4B4B 100%);
}

.span-Verified {
  background-color: #64bbe5;
  border-radius: 50%;
  padding: 5px;
}

.noaccident-text {
  color: #ffffff;
  font-size: .9rem;
  margin-right: 15px;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root,
.dropDwon-option {
  min-width: 200px !important;
}

.alert-title-ai {
  letter-spacing: 4px;
}

@media (max-width:992px) {
  .modal-accident {
    width: 60%;
  }
}

@media (min-width:856px) {
  .powerd-text {
    min-width: 250px;
  }
}

@media (max-width:856px) {
  .content-alert {
    flex-direction: column;
  }

  .alert-text {
    margin-bottom: 5px;
  }
}

@media (max-width:768px) {
  .modal-accident {
    width: 80%;
  }
}

@media (max-width:576px) {
  .modal-accident {
    width: 95%;
  }

  .chevorn {
    left: 10px;
    width: 130px;
  }

  .Verifiedwrapper {
    margin-right: 10px;
  }


}