* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.modal-accident-Wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.181);
  z-index: 99999999999999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.modal-accident-Wrapper-active {
  opacity: 1;
  visibility: visible;
}

.modal-accident {
  width: 45%;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius-2);
  padding-bottom: 35px;
}

.title-wraning {
  color: #CC3366;
  text-align: center;
  margin-bottom: 25px;
}

.text-warnings {
  font-size: .9rem;
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

.alert-accident {
  background-color: #dc2c2c !important;
  border: none !important;
  border-radius: 0 0 5px 5px !important;
  color: #ffffff !important;
}

.content-alert {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.alert-text {
  font-size: .9rem;
  margin-left: 25px;
}

.noAccident {
  background: linear-gradient(360deg, #89CCE5 59%, #6EC1E4 84%);
  height: 50px;
  position: relative;
}

.warningAccident {
  background: linear-gradient(to left, #FF8845 100%, #FF8845 76%);
  height: 50px;
  position: relative;
}

.chevorn {
  clip-path: polygon(54% 0, 100% 48%, 50% 100%, 0 100%, 36% 48%, 0 0);
  width: 150px;
  background: linear-gradient(to left, #D0F2FF 0%, #C5ECFB 100%);
  height: 100%;
  position: absolute;
  left: 70px;
}

.Verifiedwrapper {
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
  margin-right: 30px;
}

.span-warning {
  background-color: #e66720;
  border-radius: 50%;
  padding: 5px;
}

.span-Verified {
  background-color: #64bbe5;
  border-radius: 50%;
  padding: 5px;
}

.noaccident-text {
  color: #ffffff;
  font-size: .9rem;
  margin-right: 15px;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root,
.dropDwon-option {
  width: 200px !important;
}

@media (max-width:992px) {
  .modal-accident {
    width: 60%;
  }
}

@media (max-width:768px) {
  .modal-accident {
    width: 80%;
  }
}

@media (max-width:576px) {
  .modal-accident {
    width: 95%;
  }

  .chevorn {
    left: 10px;
    width: 130px;
  }

  .Verifiedwrapper {
    margin-right: 10px;
  }


}