@import url('../../Style/Main.css');

/* AddNewForm.css */

.form-overview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.form-overview {
    padding: 20px;
    height: 100%;
    max-width: px;
    width: 100%;

}